*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{
    width:100%;
    height:100%;
    overflow:hidden;
    font-family:Arial,Helvetica,sans-serif;
}
#camera{
    width:100vw;
    height:100vh;
    overflow:hidden;
    position:relative;
}
#world{
    position:absolute;

    width:3000px;
    height:2000px;

    /* Langit */
    background:
    linear-gradient(
        to bottom,
        #79c8ff 0%,
        #9edbff 35%,
        #6ec6ff 45%,
        #69d45d 46%,
        #7fdb69 100%
    );
}

/* Watak */

#player{
    position:absolute;

    width:64px;
    height:64px;

    left:120px;
    top:500px;

    background-image:url("../../assets/assets/player/explorer/0_Forest_Ranger_Walking_000.png");
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;

    z-index:100;
}
