*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

overflow:hidden;

background:linear-gradient(#7ed957,#4caf50);

font-family:Arial,sans-serif;

}

#game{

position:relative;

width:100vw;

height:100vh;

background:
linear-gradient(to bottom,#6ec6ff 0%,#6ec6ff 30%,#7ed957 30%,#7ed957 100%);

overflow:hidden;

}

#player{

position:absolute;

left:100px;

top:420px;

width:60px;

height:60px;

display:flex;

justify-content:center;

align-items:center;

font-size:42px;

transition:left .08s linear, top .08s linear;

z-index:10;

}

.coin,
.tree,
#chest,
#door{

position:absolute;

font-size:55px;

user-select:none;

}

.coin{

animation:spin 1s infinite alternate;

}

@keyframes spin{

from{

transform:translateY(0px);

}

to{

transform:translateY(-10px);

}

}
